.header__link {
    line-height: 22px;
    color: #FFFFFF;
    text-align: right;
    background-color: transparent;
    transition: opacity 0.3s linear;
    cursor: pointer;
    text-decoration: none;
    margin: auto;
    padding: 51px 24px 46px 0;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
  }
  
  .header__link:hover {
    opacity: 0.6;
  }
  
  @media screen and (max-width: 767px) {
    .header__link {
      font-size: 14px;
    }
  }