.header__authorization{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  @media screen and (max-width: 767px) {
    .header__authorization {
      padding-right: 30px;
    }
  }