.profile__caption {
  font-size: 18px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: normal;
  line-height: 22px;
  padding: 0;
  margin: 0;
  grid-column: 1/3;
  color: #ffffff;
}

@media screen and (max-width: 799px) {
  .profile__caption {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 14px;
  }
}
