.popup__button_type_save {
  height: 50px;
  width: 358px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  font-weight: normal;
  background-color: #000;
  margin-top: 8px;
  color: #fff;
  transition: background-color 0.3s linear;
  border-radius: 2px;
  align-self: center;
}
@media screen and (max-width: 799px) {
  .popup__button_type_save {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
