.profile__button_fact_add {
  background-image: url(../../../../images/profile/profile-button-add.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 22px;
  border: 2px solid #fff;
  border-radius: 2px;
  width: 150px;
  height: 50px;
  align-self: center;
}

@media screen and (max-width: 799px) {
  .profile__button_fact_add {
    width: 100%;
    min-width: 282px;
    margin-top: 36px;
    background-size: 16px 16px;
  }
}
