.photo-grid__list {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  row-gap: 20px;
  column-gap: 17px;
  justify-content: space-around;
}


@media screen and (max-width: 1024px) {
  .photo-grid__list {
    grid-template-columns: 282px 282px;
    column-gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid__list {
    grid-template-columns: none;
    column-gap: 10px;
  }
}

