.profile__name {
  font-size: 42px;
  font-family: "Inter", Arial, sans-serif;
  line-height: 48px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  align-self: center;
  color: #ffffff;
}

@media screen and (max-width: 799px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    align-self: center;
  }
}
